h1 {
  color: green;
  font-size: 2rem;
}
p {
  color: purple;
}

main {
  margin-left: 300px;
  margin-top: 30px;
}

/* styles.css */
.datepicker-custom {
  /* Personaliza los estilos aquí */
  font-size: 14px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* Añade otros estilos según tus preferencias */
}

@keyframes slideIn {
  from{
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.PagesTitles{
  font-size: 33px;
  font-weight: bold;
  color:#333;
  letter-spacing: 1px;
  margin: 2%;
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 1s ease-in-out forwards;
}

.link{

height: fit-content;
width: fit-content;
color: green;

}

.Title-Button{
  display: flex;
  justify-content: space-between;
}

